Erroneously treating LMTP 550 as temporary errors

Lines wrapped for clarity

```
smtpd[24227]: 1e722991167e2b80 mda delivery evpid=f9293a5cb336a379
from=<me@runxiyu.org> to=<powxy/-/repos/powxy@forge.lindenii.runxiyu.org>
rcpt=<powxy/-/repos/powxy@forge.lindenii.runxiyu.org> user=forge delay=40s result=TempFail 
stat=Error (temporary failure: "mail.lmtp: LMTP server error: 550 5.7.1 <powxy/-/repos/powxy@forge.lindenii.runxiyu.org> Permanent failure: unrecognized patch header format")
```

This was in response to `DATA` because of limitations in my system, but nevertheless the `550` should be treated as a permanent failure.

I tried adjusting my enhanced code and things like adding "Permanent" in the message. But whatever I try, OpenSMTPD still treats it as a temporary failure.

I think this is incorrect, per my reading of [RFC 5321 § 4.2.1](https://www.rfc-editor.org/rfc/rfc5321.html#section-4.2.1). 

```
   5yz  Permanent Negative Completion reply
      The command was not accepted and the requested action did not
      occur.  The SMTP client SHOULD NOT repeat the exact request (in
      the same sequence).  Even some "permanent" error conditions can be
      corrected, so the human user may want to direct the SMTP client to
      reinitiate the command sequence by direct action at some point in
      the future (e.g., after the spelling has been changed, or the user
      has altered the account status).
```

version: OpenSMTPD 7.6.0-portable

Fixed by commits referenced above. Thanks!