smtpd loop with default config when dst mx points to localhost

Hello all,

I stumbled upon a weird situation when trying to send mail to test@webmail.de, smtpd entered into an endless loop:

———————————————————————————————————————————
obsd-test# mail -s test test@webmail.de
test
.
EOT
obsd-test# Feb 17 16:00:01 obsd-test smtpd[74143]: f63245c93259f11c smtp connected address=local host=[obsd-test.rebehn.net](http://obsd-test.rebehn.net/)
Feb 17 16:00:01 obsd-test smtpd[74143]: f63245c93259f11c smtp message msgid=7157a411 size=363 nrcpt=1 proto=ESMTP
Feb 17 16:00:01 obsd-test smtpd[74143]: f63245c93259f11c smtp envelope evpid=7157a411f91aaef7 from=<[root@obsd-test.rebehn.net](mailto:root@obsd-test.rebehn.net)> to=<[test@webmail.de](mailto:test@webmail.de)>
Feb 17 16:00:01 obsd-test smtpd[74143]: f63245c93259f11c smtp disconnected reason=quit
2023-02-17T15:00:01.986Z obsd-test newsyslog[87010]: logfile turned over
tail: /var/log/maillog has been replaced, reopening.
2023-02-17T15:00:01.986Z obsd-test newsyslog[87010]: logfile turned over
Feb 17 16:00:02 obsd-test smtpd[74143]: f63245cd0d08e264 mta connecting address=smtp://127.0.0.1:25 host=localhost
Feb 17 16:00:02 obsd-test smtpd[74143]: f63245cd0d08e264 mta connected
Feb 17 16:00:02 obsd-test smtpd[74143]: f63245ce7265d1ed smtp connected address=127.0.0.1 host=localhost
Feb 17 16:00:02 obsd-test smtpd[74143]: f63245ce7265d1ed smtp message msgid=d2ff5ca2 size=546 nrcpt=1 proto=ESMTP
Feb 17 16:00:02 obsd-test smtpd[74143]: f63245ce7265d1ed smtp envelope evpid=d2ff5ca2aa40c428 from=<[root@obsd-test.rebehn.net](mailto:root@obsd-test.rebehn.net)> to=<[test@webmail.de](mailto:test@webmail.de)>
Feb 17 16:00:02 obsd-test smtpd[74143]: f63245cd0d08e264 mta delivery evpid=7157a411f91aaef7 from=<[root@obsd-test.rebehn.net](mailto:root@obsd-test.rebehn.net)> to=<[test@webmail.de](mailto:test@webmail.de)> rcpt=<-> source="127.0.0.1" relay="127.0.0.1 (localhost)" delay=1s result="Ok" stat="250 2.0.0 d2ff5ca2 Message accepted for delivery"
Feb 17 16:00:03 obsd-test smtpd[74143]: f63245ce7265d1ed smtp message msgid=209c5192 size=729 nrcpt=1 proto=ESMTP
Feb 17 16:00:03 obsd-test smtpd[74143]: f63245ce7265d1ed smtp envelope evpid=209c519220fca0c2 from=<[root@obsd-test.rebehn.net](mailto:root@obsd-test.rebehn.net)> to=<[test@webmail.de](mailto:test@webmail.de)>
Feb 17 16:00:03 obsd-test smtpd[74143]: f63245cd0d08e264 mta delivery evpid=d2ff5ca2aa40c428 from=<[root@obsd-test.rebehn.net](mailto:root@obsd-test.rebehn.net)> to=<[test@webmail.de](mailto:test@webmail.de)> rcpt=<-> source="127.0.0.1" relay="127.0.0.1 (localhost)" delay=1s result="Ok" stat="250 2.0.0 209c5192 Message accepted for delivery"
Feb 17 16:00:04 obsd-test smtpd[74143]: f63245ce7265d1ed smtp message msgid=2f497747 size=912 nrcpt=1 proto=ESMTP
Feb 17 16:00:04 obsd-test smtpd[74143]: f63245ce7265d1ed smtp envelope evpid=2f497747f408bbd3 from=<[root@obsd-test.rebehn.net](mailto:root@obsd-test.rebehn.net)> to=<[test@webmail.de](mailto:test@webmail.de)>
Feb 17 16:00:04 obsd-test smtpd[74143]: f63245cd0d08e264 mta delivery evpid=209c519220fca0c2 from=<[root@obsd-test.rebehn.net](mailto:root@obsd-test.rebehn.net)> to=<[test@webmail.de](mailto:test@webmail.de)> rcpt=<-> source="127.0.0.1" relay="127.0.0.1 (localhost)" delay=1s result="Ok" stat="250 2.0.0 2f497747 Message accepted for delivery”

etc...
——————————————————————————————————————————————

The reason for this is:

```
obsd-test# host webmail.de
webmail.de has address 64.190.63.111
webmail.de mail is handled by 0 localhost.

```
I mistyped swbmail.de as webmail.de. So it is partially my fault. Webmail.de is for sale by sedo.com. It is really weird that they enter localhost as mx. They should at least have their own fake mailer which simply rejects emails to webmail.com.

Although sedo.com is at fault IMO, I believe this is also a bug in smtpd or its default configuration. Also, this behaviour can easily be used for DOS attacks by sending mail with a non existing to-address and a forged from-address with mx=localhost, causing smtpd to send bounce mails, which will enter the above loop.

OpenBSD  7.2 GENERIC#6 amd64 running under ESXi 7.0U3
Clean install, default smtpd.conf


Heho,
this has some other fun implications and opportunities to be used for DoS-ish things;

For example, when sending DMARC reports, this can be used to fill a remote mailer sending reports with mails looping through itself; Same holds for close to anything else that lets you make a mailer send to a destination of your choice; You can, e.g., sign up for an ML and then change the MX, or even have an actual name (not localhost) point at `lo` (v4/v6).

Let me quickly graph the impact of one mail stuck in such a loop on a  default (no additional rspamd etc overhead involved)... 

I guess the most straight-forward way to check for this would be adding an (optional?) check to see if any previous delivered-to header already has $self for the same dst; Then again, i am not sure if that wouldn't rather be filter-territory.

Well... stupid me... turns out... there is indeed loop detection; After 100 loops, or ~2min of forwarding.

So i guess this is RFC5321 Sec. 6.3 based detection:

```
6.3.  Loop Detection

   Simple counting of the number of "Received:" header fields in a
   message has proven to be an effective, although rarely optimal,
   method of detecting loops in mail systems.  SMTP servers using this
   technique SHOULD use a large rejection threshold, normally at least
   100 Received entries.  Whatever mechanisms are used, servers MUST
   contain provisions for detecting and stopping trivial loops.
```

Still, maybe sth. against trivial loops might be a good idea to have.

Ok, I did not wait that long..
-Heinrich

> On 19. Feb 2023, at 21:11, Tobias Fiebig ***@***.***> wrote:
> 
> 
> Well... stupid me... turns out... there is indeed loop detection; After 100 loops, or ~2min of forwarding.
> So i guess this is RFC5321 Sec. 6.3 based detection:
> 6.3. Loop Detection
> 
> Simple counting of the number of "Received:" header fields in a
> message has proven to be an effective, although rarely optimal,
> method of detecting loops in mail systems. SMTP servers using this
> technique SHOULD use a large rejection threshold, normally at least
> 100 Received entries. Whatever mechanisms are used, servers MUST
> contain provisions for detecting and stopping trivial loops.
> 
> Still, maybe sth. against trivial loops might be a good idea to have.
> —
> Reply to this email directly, view it on GitHub, or unsubscribe.
> You are receiving this because you authored the thread.Message ID: ***@***.***>



Hi

I have written a patch for this, not tested:

```
diff --git a/usr.sbin/smtpd/dns.c b/usr.sbin/smtpd/dns.c
index f7c6b3df..d84d4ca3 100644
--- a/usr.sbin/smtpd/dns.c
+++ b/usr.sbin/smtpd/dns.c
@@ -280,6 +280,8 @@ dns_dispatch_mx(struct asr_result *ar, void *arg)
                        continue;
                print_dname(rr.rr.mx.exchange, buf, sizeof(buf));
                buf[strlen(buf) - 1] = '\0';
+               if (strcasecmp("localhost.", buf)==0)
+                       continue;
                dns_lookup_host(s, buf, rr.rr.mx.preference);
                found++;
        }
```

Not sure if filter for "localhost." is enough.

Also need a filter for localhost (::1 and 127.0.0.0/8) in `dns_dispatch_host`, but the problem is this function sometimes require to return localhost. Best I see is to add a `bool filter_localhost` to `struct dns_lookup`.

Thanks!

Can maybe test later; Thing is, there might be legitimate reasons for 127.0.0.1/::1/localhost being returned (even though i can't put my finger on exactly what atm; cases of local forward and local delivery/vdomain on same host should actually not run into DNS lookups) 

Would certainly have to run a couple of tests.   

> there might be legitimate reasons for 127.0.0.1/::1/localhost being returned

To find the relay I see non.

Hm, just applied this against -CURRENT, and it does not really make a difference.

Can you provide the debug-log? Special the part after the "debug: mta: querying MX for" entry.

Sure;

```
imsg: control <- scheduler: IMSG_STAT_INCREMENT (len=61)
mproc: dispatcher -> control : 42 IMSG_STAT_INCREMENT
ramstat: increment: scheduler.envelope.inflight
debug: mta: received evp:e5119c8b967fc9a9 for <test@webmail.de>
ramstat: scheduler.envelope.inflight (0xb48b1c40b81): 0 -> 1
mproc: dispatcher -> control : 46 IMSG_STAT_INCREMENT
debug: mta: draining [relay:webmail.de,smtp] refcount=1, ntask=1, nconnector=0, nconn=0
debug: mta: querying MX for [relay:webmail.de,smtp]...
imsg: control <- queue: IMSG_STAT_INCREMENT (len=57)
mproc: dispatcher -> lka : 20 IMSG_MTA_DNS_MX
ramstat: increment: queue.evpcache.load.hit
debug: mta: [relay:webmail.de,smtp] waiting for MX
ramstat: queue.evpcache.load.hit (0xb48b1c40341): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=44)
ramstat: increment: mta.domain
imsg: lka <- dispatcher: IMSG_MTA_DNS_MX (len=20)
ramstat: mta.domain (0xb48b1c31401): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=43)
ramstat: increment: mta.relay
ramstat: mta.relay (0xb48b1c402c1): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=42)
ramstat: increment: mta.task
ramstat: mta.task (0xb48b1c31d41): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=46)
ramstat: increment: mta.envelope
ramstat: mta.envelope (0xb48b1c40b01): 0 -> 1
mproc: lka -> dispatcher: realloc 0 -> 128
mproc: lka -> dispatcher : 47 IMSG_MTA_DNS_HOST
mproc: lka -> dispatcher : 59 IMSG_MTA_DNS_HOST
mproc: lka -> dispatcher : 12 IMSG_MTA_DNS_HOST_END
imsg: dispatcher <- lka: IMSG_MTA_DNS_HOST (len=47)
mproc: dispatcher -> control : 42 IMSG_STAT_INCREMENT
imsg: dispatcher <- lka: IMSG_MTA_DNS_HOST (len=59)
mproc: dispatcher -> control : 42 IMSG_STAT_INCREMENT
imsg: dispatcher <- lka: IMSG_MTA_DNS_HOST_END (len=12)
debug: MXs for domain webmail.de:
        127.0.0.1 preference 0
        [::1] preference 0
debug: mta: ... got mx (0x337a21864a0, webmail.de, [relay:webmail.de,smtp])
debug: mta: draining [relay:webmail.de,smtp] refcount=1, ntask=1, nconnector=0, nconn=0
debug: mta: querying source for [relay:webmail.de,smtp]...
mproc: dispatcher -> control : 44 IMSG_STAT_INCREMENT
debug: mta: ... got source for [relay:webmail.de,smtp]: []
mproc: dispatcher -> control : 47 IMSG_STAT_INCREMENT
debug: mta: new [connector:[]->[relay:webmail.de,smtp],0x10000]
debug: mta: connecting with [connector:[]->[relay:webmail.de,smtp],0x0]
debug: mta-routing: searching new route for [connector:[]->[relay:webmail.de,smtp],0x0]...
mproc: dispatcher -> control : 43 IMSG_STAT_INCREMENT
debug: mta-routing: selecting candidate route [] <-> 127.0.0.1
mproc: dispatcher -> control : 43 IMSG_STAT_INCREMENT
debug: mta-routing: skipping route [] <-> [::1]: current one is better
debug: mta: mta_route_unref(): really discarding route [] <-> [::1]
mproc: dispatcher -> control : 43 IMSG_STAT_DECREMENT
debug: mta-routing: spawning new connection on [] <-> 127.0.0.1
debug: mta: 0x337a21766d0: spawned for relay [relay:webmail.de,smtp]
mproc: dispatcher -> control : 45 IMSG_STAT_INCREMENT
mproc: dispatcher -> lka : 28 IMSG_GETNAMEINFO
debug: mta: connecting with [connector:[]->[relay:webmail.de,smtp],0x0]
debug: mta: cannot use [relay:webmail.de,smtp] before 2s
debug: mta-routing: no route available for [connector:[]->[relay:webmail.de,smtp],0x0]: must wait a bit
debug: mta: retrying to connect on [connector:[]->[relay:webmail.de,smtp],0x0] in 2s...
debug: mta: draining [relay:webmail.de,smtp] refcount=3, ntask=1, nconnector=1, nconn=1
debug: mta: scheduling relay [relay:webmail.de,smtp] in 1s...
imsg: lka <- dispatcher: IMSG_GETNAMEINFO (len=28)
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=42)
ramstat: increment: mta.host
mproc: lka -> dispatcher : 22 IMSG_GETNAMEINFO
ramstat: mta.host (0xb48b1c402c1): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=42)
ramstat: increment: mta.host
ramstat: mta.host (0xb48b1c40341): 1 -> 2
imsg: dispatcher <- lka: IMSG_GETNAMEINFO (len=22)
52199ae2e3e052dd mta connecting address=smtp://127.0.0.1:25 host=localhost
mta: 0x337a21766d0: MTA_INIT -> MTA_INIT
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=44)
ramstat: increment: mta.source
ramstat: mta.source (0xb48b1c64181): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=47)
ramstat: increment: mta.connector
ramstat: mta.connector (0xb48b1c66c01): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=43)
ramstat: increment: mta.route
ramstat: mta.route (0xb48b1c64741): 0 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=43)
ramstat: increment: mta.route
ramstat: mta.route (0xb48b1c409c1): 1 -> 2
imsg: control <- dispatcher: IMSG_STAT_DECREMENT (len=43)
ramstat: decrement: mta.route
ramstat: mta.route (0xb48b1c66d01): 2 -> 1
imsg: control <- dispatcher: IMSG_STAT_INCREMENT (len=45)
ramstat: increment: mta.session
ramstat: mta.session (0xb48b1c66e01): 0 -> 1
smtp: 0x33733366000: connected to listener 0x33727d86000 [hostname=mail-test.as59645.net, port=25, tag=]
```

A sorry remove the trailing dot in the string and it should work

Ok, thx. Patch now does what it was supposed to do.

- We'd also have to check for names returning 127.0.0.1/::1 (and not just the verbatim name)
- Currently, this kicks the MX from the list of MXes, making opensmtpd fall back to A/AAAA, which is also kind of not correct, and maybe even semi-dangerous (might make mails send to a place where they should not go)

>     * We'd also have to check for names returning 127.0.0.1/::1 (and not just the verbatim name)

In `dns_dispatch_mx` no, because mx resource records contains names. They are later resolved with `dns_dispatch_host`. As I said earlier there is also some filtering required. The problem is `dns_dispatch_host` is also used for other requests (i.e. lookup the lmtp host) where it's legitimate to return a localhost-address.

>     * Currently, this kicks the MX from the list of MXes, making opensmtpd fall back to A/AAAA, which is also kind of not correct

I couldn't find how handle this correct. This is ihmo a missconfiguration of the recipient. Fall back to A/AAAA is just the common for no MX entry. So handling a not working MX like no MX is reasonable. Keep in mind there could be more then the "localhost" entry.

> and maybe even semi-dangerous (might make mails send to a place where they should not go)

I don't see how this is more dangerous then other missconfiguration in dns.

What might be usefull would be handle Null MX (rfc 7505) explicit.



Yeah, was kind of my thought; Maybe this is too much of a band-aid with too many corner cases to implement (i.e., implementing this in the end makes things worse than a loop of 100). I'll mull over this a bit and also get into the codebase to be able to actually give useful input re: opensmtpd; Stuck with other mail stuff first though, so might take a couple of days.

NullMX is actually a good point.

Filtering for localhost and localhost addresses is quite easy and doesn't realy harm. I would avoid more guessing.

updated patch with filter for localhost addresses (should probably include some debug log on filter):

```
diff --git a/usr.sbin/smtpd/dns.c b/usr.sbin/smtpd/dns.c
index f7c6b3df..86faef46 100644
--- a/usr.sbin/smtpd/dns.c
+++ b/usr.sbin/smtpd/dns.c
@@ -53,6 +53,7 @@ struct dns_lookup {
 	struct dns_session	*session;
 	char			*host;
 	int			 preference;
+	int			 filter_localhost;
 };
 
 struct dns_session {
@@ -65,7 +66,7 @@ struct dns_session {
 	int			 refcount;
 };
 
-static void dns_lookup_host(struct dns_session *, const char *, int);
+static void dns_lookup_host(struct dns_session *, const char *, int, int);
 static void dns_dispatch_host(struct asr_result *, void *);
 static void dns_dispatch_mx(struct asr_result *, void *);
 static void dns_dispatch_mx_preference(struct asr_result *, void *);
@@ -139,7 +140,7 @@ dns_imsg(struct mproc *p, struct imsg *imsg)
 	case IMSG_MTA_DNS_HOST:
 		m_get_string(&m, &host);
 		m_end(&m);
-		dns_lookup_host(s, host, -1);
+		dns_lookup_host(s, host, -1, 0);
 		return;
 
 	case IMSG_MTA_DNS_MX:
@@ -205,6 +206,28 @@ dns_imsg(struct mproc *p, struct imsg *imsg)
 	}
 }
 
+static int
+is_localhost(struct sockaddr *sa)
+{
+	struct sockaddr_in6 *ipv6;
+	struct sockaddr_in *ipv4;
+	uint32_t addr;
+
+	switch (sa->sa_family) {
+	case AF_INET6:
+		// May check also for v6 mapped v4 addresses
+		ipv6 = (struct sockaddr_in6 *)sa;
+		return IN6_IS_ADDR_LOOPBACK(&ipv6->sin6_addr);
+	case AF_INET:
+		ipv4 = (struct sockaddr_in *)sa;
+		addr = ntohl(ipv4->sin_addr.s_addr);
+		return ((addr >> 24) & 0xff) == 127;
+	default:
+		log_warnx("unknown family"); //TODO better log message
+	}
+	return 0;
+}
+
 static void
 dns_dispatch_host(struct asr_result *ar, void *arg)
 {
@@ -215,6 +238,8 @@ dns_dispatch_host(struct asr_result *ar, void *arg)
 	s = lookup->session;
 
 	for (ai = ar->ar_addrinfo; ai; ai = ai->ai_next) {
+		if (lookup->filter_localhost && is_localhost(ai->ai_addr))
+			continue;
 		s->mxfound++;
 		m_create(s->p, IMSG_MTA_DNS_HOST, 0, 0, -1);
 		m_add_id(s->p, s->reqid);
@@ -280,14 +305,16 @@ dns_dispatch_mx(struct asr_result *ar, void *arg)
 			continue;
 		print_dname(rr.rr.mx.exchange, buf, sizeof(buf));
 		buf[strlen(buf) - 1] = '\0';
-		dns_lookup_host(s, buf, rr.rr.mx.preference);
+		if (strcasecmp("localhost", buf)==0)
+			continue;
+		dns_lookup_host(s, buf, rr.rr.mx.preference, 1);
 		found++;
 	}
 	free(ar->ar_data);
 
 	/* fallback to host if no MX is found. */
 	if (found == 0)
-		dns_lookup_host(s, s->name, 0);
+		dns_lookup_host(s, s->name, 0, 1);
 }
 
 static void
@@ -340,7 +367,7 @@ dns_dispatch_mx_preference(struct asr_result *ar, void *arg)
 }
 
 static void
-dns_lookup_host(struct dns_session *s, const char *host, int preference)
+dns_lookup_host(struct dns_session *s, const char *host, int preference, int filter_localhost)
 {
 	struct dns_lookup	*lookup;
 	struct addrinfo		 hints;
@@ -350,6 +377,7 @@ dns_lookup_host(struct dns_session *s, const char *host, int preference)
 
 	lookup = xcalloc(1, sizeof *lookup);
 	lookup->preference = preference;
+	lookup->filter_localhost = filter_localhost;
 	lookup->host = xstrdup(host);
 	lookup->session = s;
 	s->refcount++;
```

Thanks to @satan1st work, OpenSMTD now supports RFC 7505 ("Null MX") and considers a "localhost" MX as it were a nullmx.  In other words, smtpd would now reject OP' mail with "Domain does not accept mail".

It's available in OpenBSD-CURRENT and will be part of the next major release (7.5).