dns.c MX resource type check

huku reported that RR type was not checked in dns.c http://article.gmane.org/gmane.mail.opensmtpd.general/179. eric fixed this in http://marc.info/?l=openbsd-cvs&m=134968603629454.

RFC5321 section 5 says "That domain name, when queried, MUST return at least one address record (e.g., A or AAAA RR)" and later "The prohibition on labels in the data that resolve to CNAMEs is discussed in more detail in RFC 2181, Section 10.3 [38]".

RFC2181 says "The domain name used as the value of a NS resource record, or part of the value of a MX resource record must not be an alias".

So it seems we need:

1) To make sure that every MX record points to an A or AAAA record and fail (or warn) of misconfigured dns on the receiving side if this is the case.

2) If no MX records are present use any available A or AAAA record as a failback.

With the current code it seems we do not check if an MX record is in fact an A or AAAA record and we will use hostname in case of missing MX record, but the hostname might be a CNAME in which case we deliver, but should in fact fail or at least warn.
